[Desktop Entry]
Version=1.0
Type=Application
Name=WallReel
Icon=wallreel
GenericName=Wallpaper Selector
TryExec=wallreel
Exec=wallreel
Comment=Choose and set desktop wallpapers with customizable themes and actions
Terminal=false
Categories=Application;Utility;DesktopSettings;
StartupNotify=true
Keywords=wallpaper;animated;utility;qt;
