[Desktop Entry]
Version=1.0
Type=Application
Name=WallReel
Icon=wallreel
GenericName=Animated wallpaper selector
TryExec=wallreel
Exec=wallreel
Comment=A small wallpaper utility made with Qt
Terminal=false
Categories=Application;Utility;DesktopSettings;
StartupNotify=true
Keywords=wallpaper;animated;utility;qt;
